
.grid-container{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color:  #efefef;
  width: 85%;
  margin: auto;
  margin-top: 80px;
  justify-content: center;
}

.image {
  margin: auto;
  width: 60%;
}

.button {
  margin: 10px;
  width: 60%;
}

.title {
  padding-top: 15px;
}

.text {
  color: #484f4f;
  width: 60%;
  text-align: left;
}
