
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  margin: 10px;
}

 .grid-item{
   background: white;
}

.topBar{
  grid-column: 1 / 3;
}


body{
  background-color:  #efefef;
}

.button {
  margin: 25px;
  min-width: 40px;

}


.title {
  padding-top: 15px;
  text-align: center;
}

h3{
  text-align: center;
  font-size: 28px;
}

.text {
  width: 70%;
}

.image{
  width: 100%;
}
