
.container{
  background-color:  #efefef;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.button {
  margin: 25px;
  padding: 20px;
  min-width: 40px;
  background-color: #f18973;
  border-color: #f18973;
  color: white;
  border-radius: 8px;
  width: 50%;
  font: 20px "Verdana";
}

.title {
  color: #484f4f;
  padding-top: 15px;
  font-family: "Verdana";
}
